// custom
@import '../custom/variables'
@import '../custom/global'
@import '../custom/fullcalendar'

// components
@import '../components/datatable'
@import '../components/width'
@import '../components/scrollbar'
@import '../components/form'
@import '../components/field'
@import '../components/validation'
@import '../components/button'
@import '../components/callout'
@import '../components/tab'
@import '../components/chart'
@import '../components/modal'
@import '../components/tooltip'
@import '../components/grid'
@import '../components/zoom'

// partials
@import 'partials/sidebar'
@import 'partials/navbar'

// pages
@import 'pages/payments'

.admin
    display: flex
    align-items: stretch
    height: 100vh

    &-wrapper
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px

    &-navbar,
    &-content
        width: 100%
        max-width: 98%

    &-content
        padding: 2px
        overflow: auto
